@import "font-default.css";
@import "topbar.css";
@import "ui-element-defaults.css";
body {
    background: var(--background-light);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    /* header styles */
}

footer {
    /* footer styles */
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
    /* use mobile */
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
    /* use mobile */
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
    /* use mobile */
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 110vh;
    background: var(--background-light);;
    /*Light*/
    color: var(--primary-light);
    align-items: center;
}


