@import "font-default.css";
@import "topbar.css";
@import "ui-element-defaults.css";
body {
    background: var(--background-light);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    /* header styles */
}

footer {
    /* footer styles */
}
@media (min-width: 260px) and (max-width: 1250px) {
    #dashboard-data {
        display: grid;
        grid-template-columns: repeat(1, max-content);
        grid-auto-rows: max-content;
    }
}
/* -------------------  TABLET  --------------------- */
@media (min-width: 1251px) and (max-width: 1750px) {
    #dashboard-data {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-auto-rows: max-content;
    }
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1751px) and (max-width: 2250px) {
    /* use mobile */
    #dashboard-data {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-auto-rows: max-content;
    }
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 2251px) {
    /* use mobile */
    #dashboard-data {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        grid-auto-rows: max-content;
    }
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 110vh;
    background: var(--background-light);;
    /*Light*/
    color: var(--primary-light);
    align-items: center;
}


